@model EmployeeManagementSystem.Models.AddTask

@{
    ViewData["Title"] = "EditTask";
    Layout = "~/Views/Shared/_EmployerLayout.cshtml";
}

<h1>EditTask</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTask" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PictureFile" class="control-label"></label>
                <input asp-for="PictureFile" type="file" class="form-control" />
                <span asp-validation-for="PictureFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssigneeId">Assign To (Employee)</label>
                <select asp-for="AssigneeId" class="form-control" asp-items="ViewBag.Employees">
                    <option value="0">-- Select Employee --</option>
                </select>
                <span asp-validation-for="AssigneeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control">
                    <option value="">-- Select Status --</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="RewardPrice" class="control-label"></label>
                <input asp-for="RewardPrice" class="form-control" />
                <span asp-validation-for="RewardPrice" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayTask" asp-controller="EmployerDashboard">Back to List</a>
</div>

